@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  section {
    @apply h-[calc(100%-35px)] w-full max-sm:h-full
  }
}

body {
  background: #0F0722;
  color: white;
  overflow: hidden;
  min-height: 100vh;
}
html {
  overflow: hidden;
  min-height: 100vh;
}



